<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <forcelogin>
            <general>
                <enable>1</enable>
                <urlcondition>0</urlcondition>
            </general>
        </forcelogin>
    </default>
</config>