<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Customer::customer">
					<resource id="Prince_Forcelogin::forcelogin" sortOrder="10" title="forcelogin">
						<resource id="Prince_Forcelogin::forcelogin_save" sortOrder="10" title="Save forcelogin"/>
						<resource id="Prince_Forcelogin::forcelogin_delete" sortOrder="20" title="Delete forcelogin"/>
						<resource id="Prince_Forcelogin::forcelogin_update" sortOrder="30" title="Update forcelogin"/>
						<resource id="Prince_Forcelogin::forcelogin_view" sortOrder="40" title="View forcelogin"/>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
