<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Prince_Forcelogin::top_level" title="Forcelogin" module="Prince_Forcelogin" sortOrder="30" resource="Prince_Forcelogin::forcelogin"/>
		<add id="Prince_Forcelogin::forcelogin_manage" title="Manage URL's" module="Prince_Forcelogin" sortOrder="10" parent="Prince_Forcelogin::top_level" action="prince_forcelogin/forcelogin/index/" resource="Magento_Backend::content"/>
        <add id="Prince_Forcelogin::forcelogin_setting" title="Settings" module="Prince_Forcelogin" sortOrder="20" parent="Prince_Forcelogin::top_level" action="adminhtml/system_config/edit/section/forcelogin" resource="Magento_Backend::content"/>
	</menu>
</config>
